{% extends "auctions/layout.html" %}

{% block body %}

    {% if message == "success" %}
        <script>alert("Bid success!")</script>

    {% elif message == "error" %}
        <script>alert("Bid failed. Your bid must be higher than the current price.")</script>
    {% endif %}

    <div class="container">

        <div class="row">
            <div class="col-5" style="outline-offset: 30px">
                <img src="{{ listing.image }}" alt="{{ listing.title }}" style="width: 400px">
            </div>
            <div class="col p-2">
                <h4 style="padding-bottom:20px">{{ listing.title }}</h4>
                <p>{{ listing.description }}</p>
                <br>

            {% if listing.active %}
                <p><b>Current Price:</b> ${{ listing.price }}.00</p>


                {% if request.user == listing.user %}
                <form action="/endbid/{{ listing.title }}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-md light-text mt-3">End Auction</button>

                </form>


                {% elif user.is_authenticated and request.user != listing.user %}
                <form action="/listing/{{ listing.title }}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-4 pb-3">
                            {{ form.bid }}
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-dark btn-md light-text">Bid</button>
                        </div>
                    </div>


                </form>

                <form action="{% url 'watchlist' listing.title %}" method="post">
                    {% csrf_token %}
                    {% if on_watchlist %}
                         <button name="watchlist" value="True" type="submit" class="btn btn-light btn-outline-dark btn-md light-text">
                            Remove from Watchlist
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                           </svg>
                        </button>

                    {% elif not on_watchlist %}
                        <button name="watchlist" value="True" type="submit" class="btn btn-light btn-outline-dark btn-md light-text">
                            Add to Watchlist
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </button>
                    {% endif %}

                </form>

                

                {% elif not user.is_authenticated %}
                    <form action="{% url 'login' %}" method='post'>
                    {% csrf_token %}
                        <button type="submit" class="btn btn-light btn-outline-dark btn-md light-text mt-3">Log In to Bid</button>
                    </form>
                {% endif %}

                {% endif %}

                {% if not listing.active %}
                <h3>This action has closed</h3>
                {% endif %}

                


            </div>
        </div>
    </div>

{% endblock %}

